name: card-hive
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: cardhive
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: cardhive_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U cardhive" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  gateway:
    build:
      context: .
      dockerfile: apps/gateway-service/Dockerfile
    container_name: gateway
    ports:
      - "3000:3000"
    env_file:
      - .env
      - apps/gateway-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  auth:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: auth-service
    container_name: auth
    ports:
      - "3001:3001"
    env_file:
      - .env
      - apps/auth-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  users:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: users-service
    container_name: users
    ports:
      - "3002:3002"
    env_file:
      - .env
      - apps/users-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  inventory:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: inventory-service
    container_name: inventory
    ports:
      - "3003:3003"
    env_file:
      - .env
      - apps/inventory-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  media:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: media-service
    container_name: media
    ports:
      - "3004:3004"
    env_file:
      - .env
      - apps/media-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
